:root{
    --middleborder: rgba(2, 17, 9, 0.28);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    background-color: #ECEEF1;
}
.header{
    background-color: #ECEEF1;
    height: 50px;
    display: flex;
    align-items: center;
    float: right;
}
.butt{
    display: inline-flex;
    padding: 0 10px;
    color: white;
    background-color: #0077C5;
    border: 0;
    border-radius: 4px;
    margin-right: 40px;
    height: 35px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 100;
    align-items: center;
}
.butt__icon, .butt__text{
    padding-left: 10px;
}
.butt__icon{
    font-size: 20px;
}
.butt__text{
    padding-right: 10px;
}
.butt:active{
    background-color: #006ab1;
}
.question{
    margin: 10px;
    padding: 10px;
    font-size: 12px;
    line-height: 1.5em;
    font-weight: 100;
}
img{
    background-color: #ECEEF1;
    height: 25px; width: auto;
}
.top{
    height: 100px;
    width: 100%;
    position: relative;
}
.topImage{
    position: absolute;
    top: 35%;
    left: 45%;
    /*transform: translate(-50%, -50%);*/
    margin-top: 30px;
    animation: zoom 3s;
}
@keyframes zoom {
    0% { opacity: 0;}
    25% { opacity: 0;}
    50% { opacity: 0.1;} 
    100% { opacity: 1;}
}
.topImage img{
    height: 50px; width: 150px;
    background-color: #ECEEF1;
    opacity: 0.5;
}
.second_butt{
    position: absolute;
    animation: myframes 2s ease-in-out 1s;
    margin-top: 90px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes myframes {
    0%{
        transform: translate(-10%, -50%);
        opacity: 0;
    }
    25%{
        transform: translate(-10%, -50%);
        opacity: 0;
    }
    50%{
        transform: translate(-35%, -50%);
        opacity: 0.8;
    }
    100%{
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}
.butt2{
    display: inline-flex;
    padding: 0 5px;
    border: 0;
    margin: 5px;
    cursor: pointer;
    font-size: 18px;
}
.butt__icon2, .butt__text2{
    padding-left: 5px;
}
.butt__text2{
    opacity: 0.5;
}
.ani{
    animation: zoomin 1s ease-in-out 0s;
}
@keyframes zoomin {
    0% {transform: translate(50%);
        transform: scale(0);
        
    }
    25% {transform: scale(1);
        
    }
    50% {transform: scale(2);} 
    100% {transform: scale(1);}
}

/*-- MIDDLE PART FORM PHASE --*/

.middle{
    position: absolute;
    width: 400px;
    top: 420px;
    left: 50%;
    transform: translate(-50%, -50%); 
    margin-top: 90px;
    margin-bottom: 50px;
    background-color: white;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    border: var(--middleborder) 1px solid;
    
}
.middleText{
    text-align: center;
    margin-bottom: 20px;
}
.middleText h2{
    padding-bottom: 20px;
    font-weight: 200;
}
.input-container{
    padding: 15px;
}
.input-container label{
    text-align: left;
}
.text-align{
    display: flex;
    float: right;
    background-color: #404040;
    width: 200px;
    color: white;
    padding: 10px;
    border-radius: 4px;
    font: 400 0.85em "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;;
}
.fname{
    display: block;
    width: 99%;
    height: 35px;
    padding: 5px;
    margin-top: 13px;
}
#reco{
    opacity: 0.7;
}
.smallText{
    font-size: 0.8em;
    margin-top: 5px;
}
.botbutt{
    display: inline-flex;
    width: 80%;
    padding: 0 10px;
    color: white;
    background-color: #0077C5;
    border: 0;
    border-radius: 4px;
    margin-top: 10px;
    margin-left: 40px;
    height: 45px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 200;
    align-items: center;
}
.botbutt__icon{
    font-size: 30px;
    padding-left: 50px;
}
.botbutt__text{
    padding-right: 10px;
    padding-left: 20px;
}
.botbutt:active{
    background-color: #006ab1;
}
.conText{
    text-align: center;
    margin: 20px;
    font-style: italic;
    font-size: 0.9em;
    line-height: 20px;
}
.middleBot{
    height: 50px;
    width: 398px;
    background-color: #ECEEF1;
    margin-left: -15px;
    text-align: center;
    padding-top: 20px;
    font-size: 0.8em;
    opacity: 0.8;
}
.middleBot a{
    color:#0077C5;
    opacity: 1;
}
.Bottom{
    position: relative;
    bottom: 20px;
    text-align: center;
    font-size: 0.9em;
    line-height: 15px;
    top: 750px;
}
.lastMid1 ul {
    list-style-type: none;
    padding: 10px;
}
.lastMid1 li{
    display: inline;
    padding-right: 8px;
}
.lastMid1 a{
    text-decoration: none;
    float: center;
}
.lastMid1 a:hover{
    text-decoration: underline;
}
.footer{
    position: relative;
    height: 50px;
    display: block;
    color: #0077C5;
    background-color: white;
    padding: 15px;
    top: 800px;
}
.footer a{
    text-decoration: none;
    cursor: pointer;
}
.footer a:hover{
    text-decoration: underline;
}
